<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2 class="fw-bold">Daftar Kontak</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <% if(msg.length !== 0) { %>
            <div class="alert alert-success">
                <%= msg %>
            </div>
        <% } %>
        <a class="btn btn-primary" href="/contacts/add">Tambah Kontak Baru</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Lengkap</th>
                <th scope="col">Nomor HP</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
                <% if(contacts.length === 0) { %>
                    <tr>
                        <td colspan="4">
                            <div class="fw-bold alert alert-danger text-center" role="alert">
                                Data kontak kosong.
                            </div>
                        </td>
                    </tr>
                <% } %> 
                <% contacts.forEach((contact, i) => { %> 
                    <tr>
                        <th scope="row"><%= i + 1 %> </th>
                        <td><%= contact.name %> </td>
                        <td><%= contact.number %> </td>
                        <td>
                            <a href="/contacts/<%= contact.name %>" type="button" class="btn btn-dark badge rounded-pill">detail</a>
                            <a href="/contacts/edit/<%= contact.name %>" type="button" class="btn btn-primary badge rounded-pill">edit</a>
                            <form action="/contacts?_method=DELETE" method="POST" class="d-inline">
                                <input type="hidden" name="name" value="<%= contact.name %>">
                                <button class="btn btn-danger badge rounded-pill" onclick="alert('Yakin menghapus <%= contact.name %>?')">delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </div>
</div>

