<div class="row justify-content-center">
    <div class="col-md-4 text-center">
        <div class="card">
            <div class="card-body">
                <% if(detail) { %>
                    <h5 class="card-title"><%= detail.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= detail.number %></h6>
                    <% if(detail.email) { %>
                        <p class="card-text"><%= detail.email %></p>
                    <% } %>
                <% } else { %>
                    <div class="alert alert-danger fw-bold" role="alert">
                        Kontak tidak valid.
                    </div>
                <% } %>
                <a href="/contacts" class="card-link">Kembali ke halaman sebelumnya.</a>
            </div>
        </div>
    </div>
</div>