<div class="container">
    <div class="row text-center">
        <div class="col">
            <!-- img boleh tidak relatif terhadap file about.ejs, bisa lansung masuk ke img -->
            <img class="rounded" width="150px" src="img/profile.webp" alt="Tude">
            <h1 class="display-4">Tude Maha</h1>
            <div class="lead">Manusia</div>
        </div>
    </div>
</div>