<h2>Halo, <%= name %></h2>

<h3>Daftar Mahasiswa</h3>

<% if(mahasiswa.length === 0) { %>
    <p>Data mahasiswa masih kosong.</p>
<% } else { %> 
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama: <%= mhs.nama %></li>
            <li>Email: <%= mhs.email %></li>
        </ul>
    <% }); %>
<% } %> 