<div class="row justify-content-center">
    <div class="col-md-7">
        <h2 class="text-center">Ubah Data Kontak</h2>

        <% if(typeof errors !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>

        <form method="post" action="/contact/update">
            <input type="hidden" name="oldName" value="<%= contact.oldName ? contact.oldName : contact.name %>">
            <div class="mb-3">
              <label for="name" class="form-label">Nama Lengkap</label>
              <input type="text" class="form-control" id="name" name="name" required value="<%= contact.name %>">
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Nomor HP</label>
                <input type="text" class="form-control" id="number" name="number" required value="<%= contact.number %>">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="<%= contact.email %>">
            </div>
            <button type="submit" class="btn btn-primary">Tambah Kontak</button>
          </form>
    </div>
</div>
