<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Document</title>
</head>
<body>
    <div class="container">
        <h1 id="title">Before Edit</h1>
        <form method="post" name="edit-form" id="edit-form">
            <input type="text" name="text" id="text">
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="script.js"></script>
</body>
</html>