<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">Tude Maha Contact App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/contacts">Contacts</a>
          <a class="nav-link" href="/about">About</a>
        </div>
      </div>
    </div>
  </nav>